<?xml version="1.0"?>
<!--
/**
 * CoullWorks Catalog Infinite Scroll for Magento 2.
 *
 * @author    danrcoull <ttechitsolutions@gmail.com>
 * @copyright Copyright (c) 2020-2026 CoullWorks
 * @license   MIT
 * @link      https://github.com/CoullWorks/magento2-catalog-infinite-scroll
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog_infinite_scroll>
            <general>
                <enable>1</enable>
                <load_on_scroll>1</load_on_scroll>
                <analytics_tracking>1</analytics_tracking>
                <next_button_class>.pages-item-next .action.next</next_button_class>
                <product_container_class>.products.list.items.product-items, [data-content-type="products"] .products.list.items.product-items</product_container_class>
                <item_selector>.item.product.product-item</item_selector>
                <scroll_threshold>100</scroll_threshold>
                <hide_navigation>1</hide_navigation>
                <navigation_class>.products.wrapper ~ .toolbar-products .pages</navigation_class>
                <update_url>1</update_url>
                <show_end_status>1</show_end_status>
                <end_status_text>No more products</end_status_text>
                <display_type>1</display_type>
                <debug>0</debug>
            </general>
        </catalog_infinite_scroll>
    </default>
</config>
