<?xml version="1.0"?>
<!--
/**
 * CoullWorks Catalog Infinite Scroll for Magento 2.
 *
 * @author    danrcoull <ttechitsolutions@gmail.com>
 * @copyright Copyright (c) 2020-2026 CoullWorks
 * @license   MIT
 * @link      https://github.com/CoullWorks/magento2-catalog-infinite-scroll
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="CoullWorks_CatalogInfiniteScroll">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogSearch"/>
            <module name="Magento_Widget"/>
            <module name="Magento_Ui"/>
        </sequence>
    </module>
</config>
