<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * CoullWorks Catalog Infinite Scroll for Magento 2.
 *
 * @author    danrcoull <ttechitsolutions@gmail.com>
 * @copyright Copyright (c) 2020-2026 CoullWorks
 * @license   MIT
 * @link      https://github.com/CoullWorks/magento2-catalog-infinite-scroll
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="coullworks" translate="label" class="coullworks-config-tab" sortOrder="300">
            <label>CoullWorks</label>
        </tab>
        <section id="catalog_infinite_scroll" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Catalog Infinite Scroll</label>
            <tab>coullworks</tab>
            <resource>CoullWorks_CatalogInfiniteScroll::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Infinite Scroll</label>
                    <comment>Auto-attach infinite scroll to category and search result lists. Widgets placed manually work regardless of this setting.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="load_on_scroll" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Load On Scroll</label>
                    <comment>Yes: load the next page automatically as the customer nears the bottom. No: only load when the "View More" button is clicked.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="scroll_threshold" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Scroll Threshold (px)</label>
                    <comment>Distance from the bottom of the page, in pixels, at which the next page starts loading.</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <depends>
                        <field id="load_on_scroll">1</field>
                    </depends>
                </field>
                <field id="analytics_tracking" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Track Virtual Pageviews</label>
                    <comment>Send a virtual pageview to Google Analytics (GA4 gtag or legacy analytics.js) each time a page is appended.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="update_url" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Update Browser URL</label>
                    <comment>Update the address bar (History API) as new pages load so the back button and sharing behave sensibly.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="next_button_class" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Next Button Selector</label>
                    <comment>CSS selector for the pagination "next" link. The module reads the next page URL from it.</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="product_container_class" translate="label comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>List Container Selector</label>
                    <comment>CSS selector(s) for the list wrapper that holds the items. Comma-separate to target several lists (e.g. category grid and a Page Builder product list).</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="item_selector" translate="label comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Item Selector</label>
                    <comment>CSS selector for a single item within the container (used when appending and for the masonry/isotope/packery layouts).</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="hide_navigation" translate="label comment" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide Pagination</label>
                    <comment>Hide the original pagination control once infinite scroll takes over.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="navigation_class" translate="label comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pagination Selector</label>
                    <comment>CSS selector for the pagination control to hide.</comment>
                    <depends>
                        <field id="hide_navigation">1</field>
                    </depends>
                </field>
                <field id="show_end_status" translate="label comment" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show End Status</label>
                    <comment>Show a loading spinner while fetching and a message when the last page is reached.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="end_status_text" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>End Status Text</label>
                    <comment>Message shown after the last item has loaded.</comment>
                    <depends>
                        <field id="show_end_status">1</field>
                    </depends>
                </field>
                <field id="display_type" translate="label comment" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Layout Mode</label>
                    <comment>Default keeps the theme's grid. Masonry, Isotope and Packery load an extra layout library only when selected.</comment>
                    <source_model>CoullWorks\CatalogInfiniteScroll\Model\Config\Source\DisplayType</source_model>
                </field>
                <field id="debug" translate="label comment" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug Logging</label>
                    <comment>Log lifecycle events to the browser console. Leave off in production.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
